* {
    color: white;
    font-family: 'Cooper Black', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}        

html, body {
    background-image: url('images/background1.gif');
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    text-align: center;
    height: 200vh;
    max-width: 100%;
    width: 100%;
    margin: 0;
    background: url(https://michaelmjd.neocities.org/images/background1.gif);
}

button {
    background-color: orange;
    color: black;
    width: auto;
    height: 25px;
}

table {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.nav-bar {
    background-color: #d5e5f5;
    padding: 10px;
}
.nav-bar a {
    color: #0000FF;
    /*text-decoration: none;*/
    margin: 0 5px;
}

.header {
    font-family: 'Comic Sans MS', sans-serif;
    color: #008080;
    font-size: 2em;
    text-decoration: underline;
}
.sub-header {
    color: #FF8000;
    font-size: larger;
    font-style: italic;
}

table, td {
    border: 1px solid black;
}

.marquee1, .marquee2, .marquee3, .marquee4, .marquee5, .marquee6, .marquee7, .marquee8, .marquee9 {
    font-size: larger;
    display: inline-block;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    animation: bounce 2.5s infinite alternate linear;
}
@keyframes bounce {
    0% { transform: translateX(-63%); }
    100% { transform: translateX(63%); }
}

.divider{
    margin-left: 5px;
    margin-right: 5px;
    height: 100px;
    width: 1px;
    background-color: red;
}

  .email-link {
    color: #FFFFFF;
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: url('track_image.png') repeat-y;
}

::-webkit-scrollbar-thumb {
    background: url('thumb_image.png') repeat-y;
    border-radius: 0;
}

::-webkit-scrollbar-button:single-button {
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('up_arrow_image.png');
}

::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('down_arrow_image.png');
}
